In [9]:
!pip install -U -q selenium
!pip install -q webdriver-manager
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
## Import required libraries
import requests
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import time
from time import sleep
import json

import pandas as pd
import urllib.parse
from tqdm import tqdm, notebook
from datetime import date
import datetime
from tqdm import tqdm
import pickle
import re

# Yocket Login Information

In [2]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yocket.com/login")
time.sleep(5)

In [3]:
driver.find_element(By.CSS_SELECTOR,"span.inline-block.text-yocket-orange-700.text-sm.font-bold.cursor-pointer.mt-4").click()
time.sleep(1)

In [6]:
key=input("Login Credentials: ") ##login Credentials
email = driver.find_element(By.CSS_SELECTOR,"input.text-left.lowercase.rounded-lg.mt-2.w-full.focus\:ring-yocket-orange-700.focus\:border-neutral-300.border-neutral-300")
email.send_keys(key)
time.sleep(1)
driver.find_element(By.CSS_SELECTOR,"button.md\:h-10.line-clamp-1.rounded-lg.py-3.md\:py-2.px-2.text-base.md\:text-sm.font-bold.w-full.text-center.bg-yocket-orange-700.customShadow.text-white").click()

### Note: Provide OTP Information Manually

# Yocket High Level USA Aspirants for Fall Term

In [5]:
todays_date = date.today()
current_year = todays_date.year

todays_date = date.today()
current_year = todays_date.year + 2 
years_list = []
for i in range(1,6): ## Current and Last 4 Admission Years 
    years_list.append(str(current_year - i))

total_aspirants = {}
for i in tqdm(years_list):
    yearly_aspirants = {}
    driver.get("https://yocket.com/connect?country=United%20States&term=Fall&year={}".format(i))
    time.sleep(10)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    total_value = soup.find('p',"text-gray-700").text.strip()
    total_aspirants[i] = total_value

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [01:04<00:00, 12.84s/it]

In [56]:
df_usa_aspirants = pd.DataFrame.from_dict(total_aspirants.items())
df_usa_aspirants.rename(columns={0: 'year', 1:'student_count_text'},inplace=True)
df_usa_aspirants['student_count'] = df_usa_aspirants['student_count_text'].str[19:].str.split('aspirant').str[0].astype(int)
df_usa_aspirants['year'] = df_usa_aspirants['year'].astype(int)

# Yocket MSBA High Level USA Aspirants for Fall Term

In [62]:
total_aspirants_ba = {}
for i in years_list:
    driver.get("https://yocket.com/connect?course=Business%20Analytics&country=United%20States&term=Fall&year={}".format(i))
    time.sleep(10)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    total_value = soup.find('p',"text-gray-700").text.strip()
    total_aspirants_ba[i] = total_value

In [63]:
df_msba_aspirants = pd.DataFrame.from_dict(total_aspirants_ba.items())
df_msba_aspirants.rename(columns={0: 'year', 1:'student_count_text'},inplace=True)
df_msba_aspirants['student_count'] = df_msba_aspirants['student_count_text'].str[19:].str.split('aspirant').str[0].astype(int)
df_msba_aspirants['year'] = df_msba_aspirants['year'].astype(int)

# Yocket Competitor Numbers

In [67]:
#Check Univs mapping for confirmation
school_id_dict = {}
school_id_dict[868]  = 'University of California, Davis'
school_id_dict[713]  = 'University of Texas, Austin (McCombs)'
school_id_dict[707]  = 'University of California, Los Angeles (Anderson)'
school_id_dict[745]  = 'University of Southern California (Marshall)'
school_id_dict[1480] = 'University of Washington (Foster)'
school_id_dict[702]  = 'Carnegie Mellon University (Tepper)'
school_id_dict[748]  = 'Purdue University, West Lafayette (Krannert)'
school_id_dict[709]  = 'Columbia University'
school_id_dict[764]  = 'University of California, San Diego'
school_id_dict[1094] = 'University of Minnesota, Twin Cities (Carlson)'
school_id_dict[2833] = 'University of San Francisco (Masagung)'
school_id_dict[743]  = 'University of Cincinnati'
school_id_dict[711]  = 'University of Illinois--Urbana-Champaign'

In [82]:
school_year_wise_aspirants = []
for i in tqdm(range(len(years_list))):
    for uni in school_id_dict.keys():
        applicant = {}
        applicant['year'] = years_list[i]
        applicant['university'] = school_id_dict[uni]
        driver.get("https://yocket.com/connect?university={}&course=Business%20Analytics&country=United%20States&term=Fall&year={}".format(uni,years_list[i]))
        time.sleep(10)
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')
        value = soup.find('p',"text-gray-700").text.strip()
        applicant['student_count_text'] = value
        school_year_wise_aspirants.append(applicant)

100%|███████████████████████████████████████████████████████████████████████████████████| 5/5 [14:11<00:00, 170.33s/it]

In [83]:
df_school_year = pd.DataFrame(school_year_wise_aspirants)
df_school_year['student_count'] = df_school_year['student_count_text'].str[19:].str.split('aspirant').str[0].astype(int)
df_school_year['year'] = df_school_year['year'].astype(int)

## Yocket Current Year Students

In [93]:
## Collect the ids of the Students aiming for the current term
## if the process stops in between continue based on the number of extractions completed 
## It usually takes longer to extract the ids
## It can be improved if possible 
## Same can be used to extract past year data as well with just changing the year 
## University filter can also be added in the url to get specific univs aspirants

id_list=[]
driver.get("https://yocket.com/connect?course=Business%20Analytics&country=United%20States&term=Fall&year={}".format(int(years_list[0])))
time.sleep(15)
total = int(driver.find_element(By.CSS_SELECTOR,"p.text-gray-700").text.split("aspirants")[0].replace("Showing 9 of","").strip())
i = 0
file_path = 'abcd.pkl' ## Mention the filepath where it needs to be saved
while i < total:
    rept = int(driver.find_element(By.CSS_SELECTOR,"p.text-gray-700").text.split("Showing")[1].strip()[0])
    while i >= rept:
        if i >= rept:
            driver.find_element(By.CSS_SELECTOR,"button.mx-auto.w-80.bg-yocket-neutral-900.text-white.text-center.rounded-lg.py-2").click()
            time.sleep(10)
            rept = int(driver.find_element(By.CSS_SELECTOR,"p.text-gray-700").text.split("Showing")[1].strip()[0])
            break
    elements = driver.find_elements(By.CSS_SELECTOR,"div.bg-white.border.rounded-xl.w-full.flex.flex-col.pb-6.mb-2.cursor-pointer.transition.ease-in-out.md\:hover\:-translate-y-1.md\:hover\:scale-105.duration-300.hover\:shadow-lg")
    if i%20 ==0:
        with open(file_path, 'wb') as handle:
            pickle.dump(id_list, handle, protocol=pickle.HIGHEST_PROTOCOL)
    for element in elements:
        try:
            if element.get_attribute("data-se") == ('AspirantCard-'+str(i)):
                element.click()
                time.sleep(10)
                id_list.append(driver.find_element(By.CSS_SELECTOR,"p.mt-1.text-yocket-neutral-500.text-center").text)
                i+=1
                print(i)
                driver.get("https://yocket.com/connect?course=Business%20Analytics&country=United%20States&term=Fall&year={}".format(int(years_list[0])))
                time.sleep(10)
                break
        except:
            print("error occurred: going back to main page")
            driver.get("https://yocket.com/connect?course=Business%20Analytics&country=United%20States&term=Fall&year={}".format(int(years_list[0])))
            time.sleep(15)
            while i >= rept:
                if i >= rept:
                    driver.find_element(By.CSS_SELECTOR,"button.mx-auto.w-80.bg-yocket-neutral-900.text-white.text-center.rounded-lg.py-2").click()
                    time.sleep(5)
    if i == total:
        break

## Yocket Student Profiles

In [95]:
for i in tqdm(id_list):
    driver.get("https://yocket.com/profile/{}".format(i[1:]))
    time.sleep(15)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    profile_dictionary = {}
    profile_dictionary['id'] = i
    print(id_list.index(i))
    for item in soup.find_all("div",class_ = "px-4 md:px-6 divide-y divide-customGray divide-opacity-25"):
        if item.text is not None:
            profile_dictionary['college'] = item.text
        else:
            profile_dictionary['college'] = 0
    for item in soup.find_all("div",class_ = "flex flex-col px-4 py-5 md:p-6 space-y-10"):
        if item.text is not None:
            profile_dictionary['test_score'] = item.text
        else:
            profile_dictionary['test_score'] = 0  
    for item in soup.find_all("div",class_ = "py-4 sm:py-7 first:sm:pt-4 last:sm:pb-4"):
        if item is not None:
            profile_dictionary['work_exp'] = item.text
        else:
            profile_dictionary['work_exp'] = 0
    all_profiles.append(profile_dictionary)
df_profiles = pd.DataFrame(all_profiles)

In [4]:
df_profiles['gre']=df_profiles['test_score'].apply(lambda x: str(x).partition('GRE')[2].replace('\n','').replace(' ','')[:3])
df_profiles['gre_quant']=df_profiles['test_score'].apply(lambda x: str(x).partition('Quant')[2].replace('\n','').replace(' ','')[:3])
df_profiles['gre_quant']=df_profiles['gre_quant'].apply(lambda x: '' if 'V' in x else x)
df_profiles['gre_verbal']=df_profiles['test_score'].apply(lambda x: str(x).partition('Verbal')[2].replace('\n','').replace(' ','')[:3])
df_profiles['gre_verbal']=df_profiles['gre_verbal'].apply(lambda x: '' if 'A' in x else x)

In [5]:
df_profiles['job_role']=df_profiles['work_exp'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('\n \n')[0].replace('\n','').strip())
df_profiles['work_company'] = df_profiles['work_exp'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('•')[0].partition('\n \n')[2].strip())
df_profiles['work_start_date'] = df_profiles['work_exp'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('•')[2].partition('\n \n')[2].split('-')[0].split('•')[0].strip())

In [6]:
df_profiles['cgpa_perc'] = df_profiles['college'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('\n \n')[0].strip())
df_profiles['cgpa_perc'] = df_profiles['cgpa_perc'].apply(lambda x: int(x[:1]) if '%' in x else x)
df_profiles['college_new'] = df_profiles['college'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('\n \n')[2].partition('\n \n')[2].partition('\n \n')[0].strip())

In [9]:
df_profiles['work_start_date'] = df_profiles['work_exp'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('•')[2].partition('\n \n')[2].split('-')[0].split('•')[0].strip())
end_date = datetime.datetime(int(years_list[1]),7,1) ## Assumption people leave jobs by July
df_profiles['work_start'] = pd.to_datetime(df_profiles['work_start_date'])
df_profiles['work_exp_months'] = (end_date.year - df_profiles['work_start'].dt.year) * 12 + (end_date.month - df_profiles['work_start'].dt.month)

## Yocket Student Applications

In [ ]:
for i in tqdm(id_list):
    driver.get("https://yocket.com/profile/{}#tab-applications".format(i[1:]))
    time.sleep(15)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    application_dictionary = {}
    application_dictionary['id'] = i
    for item in soup.find_all("div",class_="px-4 lg:px-0 py-1 lg:py-0"):
        application_dictionary['applications'] = item.text
    all_applications.append(application_dictionary)
df_applications = pd.DataFrame(all_applications)

In [13]:
application_course = []
application_id = []
for i in tqdm(range(0, df_applications.shape[0])):
    profile_id = df_applications['id'][i]
    school_list = re.split(r"\n \n|Premium Admit", re.sub(' +', ' ', df_applications['applications'][i]))
    profile_id_list = [profile_id] * len(school_list)
    application_course.extend(school_list)
    application_id.extend(profile_id_list)

100%|████████████████████████████████████████████████████████████████████████████████| 45/45 [00:00<00:00, 7528.07it/s]

In [14]:
df_profile_applications = pd.DataFrame(
    {'id': application_id,
     'application_course': application_course
    })

In [15]:
df_profile_applications['school'] = df_profile_applications['application_course'].str.strip().str.partition('\n')[0]
df_profile_applications['course'] = df_profile_applications['application_course'].str.strip().str.partition('\n')[2].str.partition('\n')[2].str.strip().str.partition('\n')[0]
df_profile_applications['shortlist_status_temp'] = df_profile_applications['application_course'].apply(lambda x: str(x).strip().partition('\n')[2].partition('\n')[2].strip().partition('\n')[2].strip())
df_profile_applications['applied_date'] = df_profile_applications['shortlist_status_temp'].apply(lambda x: str(x).strip().partition('\n')[2].partition('\n')[0].strip())
df_profile_applications['univ_respond_date'] = df_profile_applications['shortlist_status_temp'].apply(lambda x: str(x).partition('University responded on:')[2].partition('\n')[2].partition('\n')[0].strip())
df_profile_applications['shortlist_status_actual'] = df_profile_applications['shortlist_status_temp'].apply(lambda x: 'Applied' if 'Applied' in str(x) else str(x))
df_profile_applications= df_profile_applications[df_profile_applications['school'] != 'View Comment']
df_profile_applications['shortlist_status_actual'] = df_profile_applications['shortlist_status_actual'].apply(lambda x: 'Shortlist' if len(x)>9  else str(x))

## Join the dataframes

In [17]:
df_final = df_profiles.merge(df_profile_applications, how='left',on='id')

In [19]:
df_final.drop(columns=['id','test_score','work_exp','work_start_date','application_course','shortlist_status_temp','college'],inplace=True)

## 2023 Data

In [95]:
application_course = []
application_id = []
for i in tqdm(range(0, df_applications.shape[0])):
    profile_id = df_applications['id'][i]
    school_list = re.split(r"\n \n|Premium Admit", re.sub(' +', ' ', df_applications['applications'][i]))
    profile_id_list = [profile_id] * len(school_list)
    application_course.extend(school_list)
    application_id.extend(profile_id_list)

100%|████████████████████████████████████████████████████████████████████████████████| 45/45 [00:00<00:00, 1878.27it/s]

In [96]:
df_profile_applications = pd.DataFrame(
    {'id': application_id,
     'application_course': application_course
    })

In [97]:
df_profile_applications['school'] = df_profile_applications['application_course'].str.strip().str.partition('\n')[0]
df_profile_applications['course'] = df_profile_applications['application_course'].str.strip().str.partition('\n')[2].str.partition('\n')[2].str.strip().str.partition('\n')[0]
df_profile_applications['shortlist_status_temp'] = df_profile_applications['application_course'].apply(lambda x: str(x).strip().partition('\n')[2].partition('\n')[2].strip().partition('\n')[2].strip())
df_profile_applications['applied_date'] = df_profile_applications['shortlist_status_temp'].apply(lambda x: str(x).strip().partition('\n')[2].partition('\n')[0].strip())
df_profile_applications['univ_respond_date'] = df_profile_applications['shortlist_status_temp'].apply(lambda x: str(x).partition('University responded on:')[2].partition('\n')[2].partition('\n')[0].strip())
df_profile_applications['shortlist_status_actual'] = df_profile_applications['shortlist_status_temp'].apply(lambda x: 'Applied' if 'Applied' in str(x) else str(x))
df_profile_applications=df_profile_applications[df_profile_applications['school'] != 'View Comment']
df_profile_applications['shortlist_status_actual'] = df_profile_applications['shortlist_status_actual'].apply(lambda x: 'Shortlist' if len(x)>9  else str(x))

In [100]:
df_profiles['gre']=df_profiles['test_score'].apply(lambda x: str(x).partition('GRE')[2].replace('\n','').replace(' ','')[:3])
df_profiles['gre_quant']=df_profiles['test_score'].apply(lambda x: str(x).partition('Quant')[2].replace('\n','').replace(' ','')[:3])
df_profiles['gre_quant']=df_profiles['gre_quant'].apply(lambda x: '' if 'V' in x else x)
df_profiles['gre_verbal']=df_profiles['test_score'].apply(lambda x: str(x).partition('Verbal')[2].replace('\n','').replace(' ','')[:3])
df_profiles['gre_verbal']=df_profiles['gre_verbal'].apply(lambda x: '' if 'A' in x else x)
df_profiles['job_role']=df_profiles['work_exp'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('\n \n')[0].replace('\n','').strip())
df_profiles['work_company'] = df_profiles['work_exp'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('•')[0].partition('\n \n')[2].strip())
df_profiles['work_start_date'] = df_profiles['work_exp'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('•')[2].partition('\n \n')[2].split('-')[0].split('•')[0].strip())
df_profiles['cgpa_perc'] = df_profiles['college'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('\n \n')[0].strip())
df_profiles['cgpa_perc'] = df_profiles['cgpa_perc'].apply(lambda x: int(x[:1]) if '%' in x else x)
df_profiles['college_new'] = df_profiles['college'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('\n \n')[2].partition('\n \n')[2].partition('\n \n')[0].strip())
df_profiles['work_start_date'] = df_profiles['work_exp'].apply(lambda x: re.sub(' +', ' ', str(x)).partition('•')[2].partition('\n \n')[2].split('-')[0].split('•')[0].strip())
end_date = datetime.datetime(int(years_list[0]),7,1) ## Assumption people leave jobs by July
df_profiles['work_start'] = pd.to_datetime(df_profiles['work_start_date'])
df_profiles['work_exp_months'] = (end_date.year - df_profiles['work_start'].dt.year) * 12 + (end_date.month - df_profiles['work_start'].dt.month)

In [102]:
df_final = df_profiles.merge(df_profile_applications, how='left',on='id')

In [104]:
df_final.drop(columns=['test_score','work_exp','work_start_date','application_course','shortlist_status_temp','college'],inplace=True)

In [105]:
df_final['gre'] = pd.to_numeric(df_final['gre'])
df_final['gre_quant'] = pd.to_numeric(df_final['gre_quant'])
df_final['gre_verbal'] = pd.to_numeric(df_final['gre_verbal'])
#df_final['cgpa_perc'] = pd.to_numeric(df_final['cgpa_perc'])
#df_final['applied_date'] = pd.to_datetime(df_final['applied_date'])
df_final['univ_respond_date'] = pd.to_datetime(df_final['univ_respond_date'])

In [106]:
df_final.head(5)

,id,gre,gre_quant,gre_verbal,job_role,work_company,cgpa_perc,college_new,work_start,work_exp_months,school,course,applied_date,univ_respond_date,shortlist_status_actual
0,@Akhil_kumar Reddy_o1pwe,300.0,157.0,143.0,nan,,7,saividya institute of technology,NaT,NaN,University of New Haven,Data Science,,NaT,Shortlist
1,@Akhil_kumar Reddy_o1pwe,300.0,157.0,143.0,nan,,7,saividya institute of technology,NaT,NaN,University of Massachusetts Dartmouth,Data Science,,NaT,Shortlist
2,@Akhil_kumar Reddy_o1pwe,300.0,157.0,143.0,nan,,7,saividya institute of technology,NaT,NaN,Embry Riddle Aeronautical University,Data Science,,NaT,Shortlist
3,@Akhil_kumar Reddy_o1pwe,300.0,157.0,143.0,nan,,7,saividya institute of technology,NaT,NaN,"California State Polytechnic University, Pomona",Computer Science,,NaT,Shortlist
4,@Akhil_kumar Reddy_o1pwe,300.0,157.0,143.0,nan,,7,saividya institute of technology,NaT,NaN,"University of Massachusetts, Boston",Computer Science,,NaT,Shortlist

In [110]:
len(df_final['id'].value_counts())

45

## Analysis

In [166]:
req_list = df[(df['school']=='University of California, Davis') & (df['course'].str.contains('Business Analytics'))]['id'].to_list()

In [167]:
pd.set_option('display.max_rows',500)
df_1 = df[df['id'].isin(req_list)].groupby(['school','course']).size().reset_index()

In [168]:
df[df['id'].isin(req_list)].groupby(['school','course']).size().sort_values(ascending=False).reset_index()

,school,course,0
0,"University of California, Davis",Business Analytics,42
1,"University of California, San Diego",Business Analytics,28
2,University of Southern California,Business Analytics,13
3,Purdue University West Lafayette,Business Analytics and Information Management,13
4,University of Illinois at Chicago,Business Analytics,12
5,Arizona State University,Business Analytics,12
6,University of Cincinnati,Business Analytics,11
7,Michigan State University,Business Data Science and Analytics,11
8,"University of California, Los Angeles",Business Analytics,11
9,"University of California, Irvine",Business Analytics,10
10,University of Texas at Dallas,Business analytics,10
11,"University of Maryland, College Park",Business Analytics,10
12,University at Buffalo SUNY,Business Analytics,9
13,University of Texas at Austin,Business Analytics,8
14,University of Colorado Boulder,Business Analytics,8
15,"Northeastern University, Boston",Business Analytics,8
16,University of Connecticut,Business Analytics and Project Management,8
17,University of Washington,Business Analytics,8
18,"University of Minnesota, Twin Cities",Business Analytics,7
19,Columbia University,Business Analytics,7
20,University of Arizona,Business Analytics,6
21,University of Colorado at Denver,Business Analytics,6
22,University of Texas at Dallas,Business Analytics Flex,6
23,Boston University,Business Analytics,6
24,University of Texas at Dallas,Business Analytics Cohort (Data Science),5
25,Georgia Institute of Technology,Analytics,5
26,Rochester Institute of Technology,Business Analytics,5
27,"University of Michigan, Dearborn",Business Analytics,5
28,Carnegie Mellon University,Business Intelligence and Data Analytics,5
29,University of Illinois at Urbana-Champaign,Business Analytics,5
30,University of Rochester,Business Analytics,5
31,University of Iowa,Business Analytics,4
32,New York University,Business Analytics,4
33,University of Texas at Arlington,Business Analytics,4
34,"University of Massachusetts, Boston",Business Analytics,4
35,University of Delaware,Business Analytics and Information Management,4
36,Michigan State University,Business Data Science & Analytics,4
37,The George Washington University,Business Analytics,4
38,Syracuse University,Business Analytics,4
39,University of Michigan - Ann Arbor,Business Analytics,4
40,University of Central Florida,Management Business Analytics,4
41,University of Southern California,Analytics,4
42,"The University of British Columbia, Vancouver",Business Analytics,3
43,San Francisco State University,Business Analytics,3
44,Boston University,Applied Business Analytics,3
45,University of San Diego,Business Analytics,3
46,University of North Texas,Business Analytics,3
47,Massachusetts Institute of Technology,Business Analytics,3
48,University of Illinois at Springfield,Data Analytics,3
49,University of Wisconsin-Madison,Business Analytics,3
50,University of Texas at Dallas,Information Technology and Management,3
51,Texas A&M University - Commerce,Business Analytics,3
52,University of Massachusetts Amherst,Business Analytics,3
53,Temple University,Business Analytics,3
54,Stevens Institute of Technology,Business Intelligence and Analytics,3
55,"University of Michigan, Dearborn",Data Science,3
56,University of Houston,Business Analytics,2
57,Purdue University West Lafayette,Data Science And Analytics,2
58,University of Denver,Business Analytics,2
59,University of Pittsburgh,MBA with Business Analytics,2
60,University of Pennsylvania,Business Analytics,2
61,Ohio State University,Business Analytics,2
62,"Northeastern University, Boston",Data Analytics Engineering,2
63,Oakland University,Business Analytics,2
64,University of Colorado at Denver,Computer Science,2
65,Texas A&M University - Corpus Christi,Business Analytics,2
66,University of North Carolina at Charlotte,Data Science and Business Analytics,2
67,Pennsylvania State University,Data Analytics,2
68,University of South Carolina,Business Analytics,2
69,"McGill University, Montreal",Analytics,2
70,Florida State University,Business Analytics,2
71,"University of California, Riverside",Business Analytics,2
72,Brown University,Data Science,2
73,Washington University in St. Louis,Business Analytics,2
74,"University of California, Santa Barbara",Business Analytics,2
75,"California State University, East Bay",Business Analytics,2
76,Virginia Tech,Data Analysis and Applied Statistics,2
77,"California State University, Los Angeles",Business Analytics,2
78,Carnegie Mellon University,Business Analytics,2
79,"University of British Columbia, Okanagan",Data Science,2
80,University of Washington,Business Analytics,2
81,University of Toronto,Management Analytics,2
82,Drexel University,Business Analytics,2
83,Duke University,Quantitative Management (Business Analytics),2
84,Trine University,Business Analytics,2
85,Cornell University,Business Analytics,2
86,The University of Chicago,Analytics,2
87,University of South Florida,Business Analytics and Information System,2
88,University of Tampa,Business Analytics,2
89,Indiana University Bloomington,Information System,2
90,Indiana University Bloomington,Data Science,2
91,Indiana University Bloomington,Business Analytics,2
92,Iowa State University,Business Analytics,2
93,The University of Utah,Business Analytics,2
94,The University of Virginia,Business Analytics,2
95,Kent State University,Business Analytics,2
96,"University of California, San Diego",Computer Science And Engineering,1
97,"University of California, Riverside",Computer Science,1
98,University of Gothenburg,Applied Data Science,1
99,University of Houston,Construction Management,1
100,University of Illinois at Chicago,Management Information System,1
101,University of Illinois at Springfield,Computer Science,1
102,University of Cincinnati,Business Administration - Information Systems,1
103,University of Hartford,Business Analytics,1
104,University of Delaware,Data Science,1
105,University of Colorado at Denver,Information Systems,1
106,"University of California, Santa Barbara",Computer Science,1
107,University of Florida,Information Systems and Operations Management,1
108,"University of California, Santa Cruz",Computer Science and Engineering,1
109,University of Central Florida,Business Analytics,1
110,University of Central Florida,Data Analytics,1
111,University of Dayton,Computer Science,1
112,University of Cincinnati,Information System,1
113,University of Central Oklahoma,Nutrition and Food Sciences,1
114,University of Central Missouri,Computer Science,1
115,University of Central Oklahoma,Business Analytics,1
116,Adelphi University,Business analytics,1
117,University of North Carolina at Charlotte,Construction and Facilities Management,1
118,University of Illinois at Urbana-Champaign,Management Information System,1
119,"University of South Australia, Mawson Lakes",Mathematics (Data Science),1
120,University of South Florida,Engineering Management,1
121,University of Southern California,Applied Data Science,1
122,University of Southern California,Business Analytics,1
123,University of Tennessee at Chattanooga,Construction Management,1
124,University of Texas at Arlington,Information Systems,1
125,University of Texas at Arlington,Management Information System,1
126,University of Texas at Austin,Information Studies,1
127,University of Washington,Construction Management,1
128,University of Waterloo,Civil Engineering,1
129,University of Wisconsin-Madison,Food Science,1
130,University of the West of England,Information Management,1
131,Vanderbilt University,Construction Management,1
132,Virginia Tech,Food Science and Technology,1
133,Washington State University,Food Science,1
134,"Washington State University, Tri-Cities",Food Science,1
135,Washington University in St. Louis,Computer Science,1
136,Wayne State University,Data Science and Business Analytics,1
137,Wayne State University,Nutrition and Food Science,1
138,"West Virginia University, Morgantown",Nutrition and Food Science,1
139,Western Michigan University,Data Science,1
140,Western University,Management Analytics,1
141,University of South Dakota,Business Analytics,1
142,University of Scranton,Business Analytics,1
143,University of Louisville,Business Analytics,1
144,"University of Saskatchewan, Saskatoon",Computer Science,1
145,"University of Maryland, Baltimore County",Information Systems,1
146,"University of Maryland, College Park",Data Science and Analytics,1
147,"University of Maryland, College Park",Nutrition and Food Science,1
148,"University of Maryland, College Park",Robotics,1
149,University of Massachusetts Lowell,Business Analytics,1
150,University of Miami,Construction Management,1
151,University of Michigan - Ann Arbor,Data Science,1
152,"University of Michigan, Dearborn","Business Administration, Information Systems M...",1
153,"University of Michigan, Dearborn",Computer And Information Science,1
154,"University of Minnesota, Twin Cities",Data Science,1
155,University of New Hampshire,Analytics,1
156,University of New Haven,Business Analytics,1
157,University of North Carolina at Chapel Hill,Data Science And Analytics,1
158,University of North Carolina at Greensboro,Library & Information Science,1
159,University of North Texas,Data Science,1
160,University of Notre Dame,Business Analytics,1
161,University of Oklahoma,Construction Management,1
162,University of Oregon,Operations and Business Analytics,1
163,University of Rochester,Electrical and Computer Engineering,1
164,University of San Francisco,Business Analytics,1
165,University of San Francisco,Data Science,1
166,"University of California, Los Angeles",Computer Science,1
167,"The University of British Columbia, Vancouver",Civil Engineering,1
168,"University of California, Irvine",Data Science,1
169,Kennesaw State University,Construction Engineering and Management,1
170,Florida Institute of Technology,Management Information System,1
171,Florida State University,Management Information Systems,1
172,Florida State University,Nutrition and Food Science,1
173,Georgetown University,Data Science and Analytics,1
174,Georgia State University,Information Systems,1
175,Golden Gate University,Business Analytics,1
176,Illinois Institute of Technology,Autonomous Systems and Robotics,1
177,Illinois Institute of Technology,Information Technology and Management,1
178,Iowa State University,Food Science and Technology,1
179,Iowa State University,Information Systems,1
180,Johns Hopkins University,Computer Science,1
181,Kansas State University,Data Analytics,1
182,Lewis University,Business Analytics,1
183,"Northeastern University, Boston",Data Analytics,1
184,London Metropolitan University,Data Analytics,1
185,Manhattan College,Construction Management,1
186,Massachusetts Institute of Technology,Civil & Environmental Engineering,1
187,"McGill University, Montreal",Civil Engineering,1
188,"McMaster University, Hamilton",Business Analytics,1
189,Michigan State University,Food Science,1
190,Michigan Technological University,Data Science,1
191,Montclair State University,Business Analytics,1
192,NYU Tandon School of Engineering,Computer Science,1
193,"New York Institute of Technology, Manhattan",Data Science,1
194,North Carolina Central University,Computer Science,1
195,Northeastern University - Silicon Valley,Analytics,1
196,"Essec business School,France",Data Science and Business Analytics,1
197,Emory University,Business Analytics,1
198,Duke University,Data Science and Analytics,1
199,Duke University,Computer Science,1
200,Arizona State University,Business Analytics,1
201,Arizona State University,Information Systems Management,1
202,Arizona State University,Robotics and Autonomous Systems (Systems Engin...,1
203,Boston University,Applied Data Analytics,1
204,Boston University,Computer Science,1
205,Boston University,Electrical and Computer Engineering,1
206,California Polytechnic State University,Business Analytics,1
207,"California Polytechnic State University, San L...",Business Analytics,1
208,"California Polytechnic State University, San L...",Food Science,1
209,"California State University, Fresno",Construction Management,1
210,"California State University, Long Beach",Construction Management,1
211,Carnegie Mellon University,Data Analytics for Science,1
212,Carnegie Mellon University,Engineering & Technology Innovation Management,1
213,Carolina University,Business Analytics,1
214,"City University Of New York, Brooklyn College",Business Administration - Business Analytics,1
215,Clark University,Business Analytics,1
216,Clark University,Data Analytics,1
217,Clarkson University,"Applied Data Science,",1
218,Colorado School of Mines,Data Science,1
219,Columbia University,Applied Analytics,1
220,Columbia University,Computer Science,1
221,Cornell University,Computer Science,1
222,Cornell University,Information Science,1
223,Dalhousie University,Computer Science,1
224,DePaul University,Business Analytics,1
225,"Northeastern University, Boston",Analytics,1
226,"Northeastern University, Boston",Robotics,1
227,"University of California, Davis",STEM-Designated MBA,1
228,Alabama A&M University,Food Science,1
229,State University of New York at Binghamton,Data Analytics,1
230,Stevens Institute of Technology,Applied Artificial Intelligence,1
231,Stevens Institute of Technology,Data Science,1
232,Texas A&M University - Corpus Christi,Computer Science,1
233,"Texas A&M University, College Station",Analytics,1
234,"Texas A&M University, College Station",Civil Engineering,1
235,"Texas A&M University, College Station",Construction Management,1
236,"Texas A&M University, College Station",Data Science,1
237,"Texas A&M University, College Station",Food Science and Technology,1
238,Texas State University,Data Analytics and Information System,1
239,Texas Tech University,Data Science,1
240,The University of Alabama,Management Information Systems,1
241,The University of Chicago,Computer Science,1
242,Northern Illinois University,Data Analytics,1
243,The University of Maine,Business Analytics,1
244,Thomas Jefferson University,Construction Management,1
245,University College London,Business Analytics,1
246,University at Buffalo SUNY,Management Information Systems,1
247,University of Alabama at Birmingham,Computer Science,1
248,"University of British Columbia, Okanagan",Management,1
249,"University of California , Berkeley",Analytics,1
250,"University of California , Berkeley",Computer Science,1
251,"University of California , Berkeley",Information Management and Systems,1
252,"University of California, Davis",Business Analytics,1
253,"University of California, Davis",Computer Science,1
254,"University of California, Davis",Food Science,1
255,Stanford University,Computer Science,1
256,Southern New Hampshire University,Business Analytics,1
257,Southern Methodist University,Business Analytics,1
258,Seattle University,Business Analytics,1
259,Northwestern University,Analytics,1
260,Northwestern University,Civil and Environmental Engineering,1
261,Northwestern University,Computer Science,1
262,Oklahoma State University-Stillwater,Business Analytics and Data Science,1
263,Oklahoma State University-Stillwater,Food Science,1
264,Oregon State University,Food Science,1
265,Pace University,Customer Analytics,1
266,Pennsylvania State University,Business Analytics,1
267,Pennsylvania State University,Food Science,1
268,Pittsburg State University,Technology-Construction Management,1
269,Princeton University,Computer Science,1
270,Purdue University West Lafayette,Food Science,1
271,RWTH Aachen University,Robotic Systems Engineering,1
272,Rochester Institute of Technology,Data Science,1
273,Rutgers University-New Brunswick,Data Science,1
274,Rutgers University-New Brunswick,Food Science,1
275,SUNY College of Environmental Science and Fore...,Construction Management,1
276,Sacred Heart University,Computer Science and Information Technology,1
277,"Saint Mary's University, Nova Scotia",Human Resource Management and Industrial Relat...,1
278,San Diego State University,Big Data Analytics,1
279,San Jose State University,Computer Science,1
280,San Jose State University,Data Analytics,1
281,San Jose State University,Data Science,1
282,Santa Clara University,Business Analytics,1
283,Seattle Pacific University,Data Analytics in Business,1
284,Yale University,Computer Science,1

In [158]:
df_1[df_1['school']=='University at Buffalo SUNY']

                         school                               course   0
208  University at Buffalo SUNY                  Business Analytics   12
209  University at Buffalo SUNY    Computer Science and Engineering    1
210  University at Buffalo SUNY      Data Sciences and Applications    6
211  University at Buffalo SUNY  Engineering Science (Data Science)    4
212  University at Buffalo SUNY      Management Information Systems    1